<%@ taglib uri="/WEB-INF/struts-logic.tld" prefix="logic"%>
<%@ taglib uri="/WEB-INF/struts-html.tld" prefix="html"%>
<%@ taglib uri="/WEB-INF/struts-bean.tld" prefix="bean"%>
<%@ taglib uri="/WEB-INF/cdebrowser.tld" prefix="cde"%>
<%@ page import="gov.nih.nci.ncicb.cadsr.CaDSRConstants"%>
<%@page import="oracle.clex.process.jsp.GetInfoBean " %>
<%@page import="gov.nih.nci.ncicb.cadsr.cdebrowser.process.ProcessConstants"%>


<SCRIPT LANGUAGE="JavaScript">
<!--

function tabClicked(tabNum,urlParams) {
   document.location.href=urlParams + "&tabClicked=" + tabNum +"<%= pageUrl %>";
}

function subTabClicked(tabNum,urlParams) {
   document.location.href=urlParams + "&subTabClicked=" + tabNum + "<%= pageUrl %>";
}


//-->
</SCRIPT>

<SCRIPT LANGUAGE="JavaScript1.1" SRC='<html:rewrite page="/jsLib/newWinJS.js"/>'></SCRIPT>

<%

  pageContext.setAttribute("deList",deList);
  CDEBrowserParams params = CDEBrowserParams.getInstance();
%>
<TABLE valign="top" width=100% Cellpadding=0 Cellspacing=0 border=0>
  <tr>

    <td valign="top" align="left" nowrap>

    <html:img page="/i/graphic6.gif" border="0" />
    </td>

    <td align=right valign=top colspan=2 nowrap>
      <TABLE Cellpadding=0 Cellspacing=0 border=0 >
        <TR>
		<logic:notPresent name="nciUser">
          <TD valign="TOP" align="CENTER" width="1%" colspan=1><html:link page="/cdeCartAction.do?method=displayCDECart" target="_top"><html:img page="/i/cde_cart.gif" alt="CDE Cart" border="0" /></html:link><br><font color=brown face=verdana size=1>&nbsp;CDE &nbsp;Cart</font></TD>
		</logic:notPresent>
        <logic:present name="nciUser">
		  <TD valign="TOP" align="CENTER" width="1%" colspan=1><html:link page="<%=\"/formCDECartAction.do?method=displayCDECart\" + urlParams%>" target="_top"><html:img page="/i/cde_cart.gif" alt="CDE Cart" border="0" /></html:link><br><font color=brown face=verdana size=1>&nbsp;CDE &nbsp;Cart</font></TD>
        </logic:present>
        <%
		  if ("".equals(src)) {
		 %>
		  <TD valign="TOP" align="CENTER" width="1%" colspan=1><html:link page="/" target="_top"><html:img page="/i/icon_home.gif" alt="Home" border="0"  width="32" height="32"/></html:link><br><font color=brown face=verdana size=1>&nbsp;Home&nbsp;</font></TD>
		  <TD valign="TOP" align="CENTER" width="1%" colspan=1><html:link page="/formSearchAction.do" target="_top"><html:img page="/i/formicon.gif" alt="FormBuilder" border="0"  width="32" height="32" /></html:link><br><font color=brown face=verdana size=1>&nbsp;FormBuilder&nbsp;</font></TD>
		  <%
			 }
          %>
          <TD valign="TOP" align="CENTER" width="1%" colspan=1><A HREF="javascript:newBrowserWin('<%=request.getContextPath()%>/common/help/cdeBrowserHelp.html','helpWin',700,600)"><html:img page="/i/icon_help.gif" alt="Task Help" border="0"  width="32" height="32" /></A><br><font color=brown face=verdana size=1>&nbsp;Help&nbsp;</font></TD>
		<logic:present name="nciUser">
          <TD valign="TOP" align="CENTER" width="1%" colspan=1><html:link page="/logout?FirstTimer=0" target="_top"><html:img page="/i/logout.gif" alt="Logout" border="0"  width="32" height="32" /></html:link><br><font color=brown face=verdana size=1>&nbsp;Logout&nbsp;</font></TD>
        </logic:present>
        </TR>

      </TABLE>
    </td>
  </tr >
 </table>
 <table valign="top">
   <tr>
    <td  width="90%" >
     <TABLE align ="left" width="100%" Cellpadding=0 Cellspacing=0 border=0 >
          <tr>
           <td  valign="bottom" align="center" width="15%" height="10" nowrap><span style="font-size: 10.0pt; font-family: Arial">
               <a href="<%=params.getAdminToolUrl()%>" target="_blank" >Admin Tool&nbsp;</a> </span></td>

           <td  align="center" width="15%" height="10" nowrap><span style="font-size: 10.0pt; font-family: Arial">
                <a href="<%=params.getCurationToolUrl()%>" target="_blank">
                      Curation Tool&nbsp;</a></span>
            </td>
           <td  align="center" width="22%" height="10" nowrap><span style="font-size: 10.0pt; font-family: Arial">
                <a href="<%=params.getNciMetathesaurusUrl()%>" target="_blank" >
                      NCI Metathesaurus&nbsp;</a></span>
            </td>
           <td  align="center" width="28%" height="10" nowrap><span style="font-size: 10.0pt; font-family: Arial">
                <a href="<%=params.getNciTerminologyServerUrl()%>" target="_blank">
                      NCI Terminology Server&nbsp;</a></span>
            </td>
           <td  align="center" width="15%" height="10" nowrap><span style="font-size: 10.0pt; font-family: Arial">
                <a href="<%=params.getSentinelToolUrl()%>" target="_blank">
                      Sentinel Tool&nbsp;</a></span>
            </td>

        </tr>
      </table>
     </td>
    <td  width="10%" >
    <TABLE align ="right" width="100%" Cellpadding=0 Cellspacing=0 border=0 >
          <tr>
           <td  align="right"   height="10" nowrap><span style="font-size: 10.0pt; font-family: Arial">
                <A HREF="javascript:newBrowserWin('<%=request.getContextPath()%>/common/help/cdeBrowserHelp.html#NewFeatures','helpWin',700,600)">
                      What's new</a>&nbsp;&nbsp;</span>
            </td>
        </tr>
      </table>
     </td>
    </tr>
   </table>
  <table>
  <logic:present name="nciUser">
  <tr>
    <td align="left" class="OraInlineInfoText" nowrap>
        <bean:message key="user.greet" />
    	<bean:write name="nciUser" property="username"  scope="session"/>
    </td>
  </tr>
 </logic:present>
  <logic:notPresent name="nciUser">
  <tr>
    <td height="2" align="left"  nowrap>
		&nbsp;
    </td>
  </tr>
 </logic:notPresent>
</TABLE>
<TABLE width=100% Cellpadding=0 Cellspacing=0 border=0>

  <tr>
    <td width=98%>&nbsp;</td>
    <td valign=bottom align=right>
      <table border=0 cellpadding=0 cellspacing=0>
        <tr>


<%
  for (int i = 0; i < tib.getMainTabCount(); i++) {
    if (tib.getMainTabNum() == i) { %>

<TD bgcolor="#336699" width="1%" align=LEFT valign=TOP><html:img page="/i/ctab_open.gif" height="21" width="18" border="0" /></TD>
<TD width=1% bgcolor="#336699"><b><font size="-1" face="Arial" color="#FFFFFF"><%= tib.getMainTabLabel(i) %></font></b></TD>
<TD bgcolor="#336699" width="1%" align=RIGHT valign=TOP><html:img page="/i/ctab_close.gif" height="21" width="12" border="0" /></TD>
<%  }
    else { %>
<TD bgcolor="#B6B687" width="1%" align=LEFT valign=TOP><html:img page="/i/tab_open.gif" height="21" width="13" border="0" /></TD>
<TD width=1% bgcolor="#B6B687"><A HREF="javascript:tabClicked(<%= i %>, '<%= tib.getMainTabURLParams(i) %>')"><font size="-1" face="Arial" color="#000000"><%= tib.getMainTabLabel(i) %></font></A></TD>
<TD bgcolor="#B6B687" width="1%" align=RIGHT valign=TOP><html:img page="/i/tab_close.gif" height="21" width="10" border="0" /></TD>

<%
    }
  }
%>

</table>
</td>
</TR>
</TABLE>

<TABLE width=100% Cellpadding=0 Cellspacing=0 border=0>
<TR>
<td align=left valign=top width="1%" bgcolor="#336699"><html:img page="/i/top_left.gif" width="4" height="25" /></td>
<td align=left valign=top width="5%" bgcolor="#336699">&nbsp;</td>


<td align=left valign=top width="5%" bgcolor="#336699">&nbsp;</td>

<%
  for (int i = 0; i < tib.getSubTabCount(); i++) {
    if (tib.getSubTabNum() == i) {
%>
      <TD width=1% bgcolor="#336699"><b>&nbsp;<font size="-1" face="Arial" color=white><%= tib.getSubTabLabel(tib.getMainTabNum(), i) %></font>&nbsp;</b></TD>
<%
    }
    else {
%>
      <TD width=1% bgcolor="#336699">&nbsp;<b><A HREF="javascript:subTabClicked(<%= i %>, '<%= tib.getSubTabURLParams(tib.getMainTabNum(), i) %>')"><font size="-1" face="Arial" color="#CCCC99" class="nounderline"><%= tib.getSubTabLabel(tib.getMainTabNum(), i) %></font></A></b>&nbsp;</TD>
<%
    }
%>
    <td width=1% bgcolor="#336699"><html:img page="/i/subtab.gif" /></TD>
<%
  }
%>
<TD align=left valign=center bgcolor="#336699" height=25 width="94%">&nbsp;</TD>
</tr>
</table>

<table  width=100% Cellpadding=0 Cellspacing=0 border=0>
<tr>
<td align=right valign=top width=49 height=21 bgcolor="#336699"><html:img page="/i/left_end_bottom.gif" height="21" width="49" /></td>
<TD align=right valign=top bgcolor="#FFFFFF" height=21 width="100%"><html:img page="/i/bottom_middle.gif" height="6" width="100%" /></TD>
<td align="LEFT" valign=top height=21 width=5  bgcolor="#FFFFFF"><html:img page="/i/right_end_bottom.gif" height="7" width="5" /></td>
</TR>
</TABLE>
