<SCRIPT LANGUAGE="JavaScript">
<!--

function tabClicked(tabNum,urlParams) {
   document.location.href=urlParams + "&tabClicked=" + tabNum +"<%= pageUrl %>";
}

function subTabClicked(tabNum,urlParams) {
   document.location.href=urlParams + "&subTabClicked=" + tabNum + "<%= pageUrl %>";
}


//-->
</SCRIPT>

<SCRIPT LANGUAGE="JavaScript1.1" SRC='<html:rewrite page="/jsLib/newWinJS.js"/>'></SCRIPT>

<%@ include  file="../../common/topHeader.jsp" %>

<TABLE width=100% Cellpadding=0 Cellspacing=0 border=0>
  <tr>
    <td align="left" nowrap>

      <img src=i/details_banner.gif border=0>
    </td>

    <td align=right valign=top colspan=2 nowrap>
      <TABLE Cellpadding=0 Cellspacing=0 border=0 >
        <TR>
          <TD valign="TOP" align="CENTER" width="1%" colspan=1><A HREF="javascript:newBrowserWin('<%=request.getContextPath()%>/common/help/cdeBrowserHelp.html','helpWin',700,600)"><IMG SRC="i/icon_help.gif" alt="Task Help" border=0  width=32 height=32></A><br><font color=brown face=verdana size=1>&nbsp;Help&nbsp;</font></TD>
        </TR>
      </TABLE>
    </td>
  </tr>


</TABLE>

<TABLE width=100% Cellpadding=0 Cellspacing=0 border=0>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width=98%>&nbsp;</td>
    <td valign=bottom align=right>
      <table border=0 cellpadding=0 cellspacing=0>
        <tr>


<%
  for (int i = 0; i < tib.getMainTabCount(); i++) {
    if (tib.getMainTabNum() == i) { %>

<TD bgcolor="#336699" width="1%" align=LEFT valign=TOP><IMG SRC="i/ctab_open.gif" height=21 width=18 border=0></TD>
<TD width=1% bgcolor="#336699"><b><font size="-1" face="Arial" color="#FFFFFF"><%= tib.getMainTabLabel(i) %></font></b></TD>
<TD bgcolor="#336699" width="1%" align=RIGHT valign=TOP><IMG SRC="i/ctab_close.gif" height=21 width=12 border=0></TD>
<%  }
    else { %>
<TD bgcolor="#B6B687" width="1%" align=LEFT valign=TOP><IMG SRC="i/tab_open.gif" height=21 width=13 border=0></TD>
<TD width=1% bgcolor="#B6B687"><A HREF="javascript:tabClicked(<%= i %>, '<%= tib.getMainTabURLParams(i) %>')"><font size="-1" face="Arial" color="#000000"><%= tib.getMainTabLabel(i) %></font></A></TD>
<TD bgcolor="#B6B687" width="1%" align=RIGHT valign=TOP><IMG SRC="i/tab_close.gif" height=21 width=10 border=0></TD>

<%
    }
  }
%>

</table>
</td>
</TR>
</TABLE>
<TABLE width=100% Cellpadding=0 Cellspacing=0 border=0>
<TR>
<td align=left valign=top width="1%" bgcolor="#336699"><img src="i/top_left.gif" width=4 height="25"></td>
<td align=left valign=top width="5%" bgcolor="#336699">&nbsp;</td>


<td align=left valign=top width="5%" bgcolor="#336699">&nbsp;</td>

<%
  for (int i = 0; i < tib.getSubTabCount(); i++) {
    if (tib.getSubTabNum() == i) {
%>
      <TD width=1% bgcolor="#336699"><b>&nbsp;<font size="-1" face="Arial" color=white><%= tib.getSubTabLabel(tib.getMainTabNum(), i) %></font>&nbsp;</b></TD>
<%
    }
    else {
%>
      <TD width=1% bgcolor="#336699">&nbsp;<b><A HREF="javascript:subTabClicked(<%= i %>, '<%= tib.getSubTabURLParams(tib.getMainTabNum(), i) %>')"><font size="-1" face="Arial" color="#CCCC99" class="nounderline"><%= tib.getSubTabLabel(tib.getMainTabNum(), i) %></font></A></b>&nbsp;</TD>
<%
    }
%>
    <td width=1% bgcolor="#336699"><img src="i/subtab.gif"></TD>
<%
  }
%>
<TD align=left valign=center bgcolor="#336699" height=25 width="94%">&nbsp;</TD>
</tr>
</table>


<table  width=100% Cellpadding=0 Cellspacing=0 border=0>
<tr>
<td align=right valign=top width=49 height=21 bgcolor="#336699"><img src="i/left_end_bottom.gif" height=21 width=49></td>
<TD align=right valign=top bgcolor="#FFFFFF" height=21 width="100%"><img src="i/bottom_middle.gif" height=6 width=100%></TD>
<td align="LEFT" valign=top height=21 width=5  bgcolor="#FFFFFF"><img src="i/right_end_bottom.gif" height=7 width=5></td>
</TR>
</TABLE>
