.tip {font:10px/12px Arial,Helvetica,sans-serif; border:solid 1px #666666; width:250px; 
      padding:1px; position:absolute; z-index:100; visibility:hidden; color:#333333;
      top:20px; left:90px; background-color:#ffffcc; layer-background-color:#ffffcc;}
#t1 {width:130px;}
#t2 {width:480px;}
#t3 {font:bold 14pt verdana,arial,sans-serif; background-color:#ffcccc; layer-background-color:#ffcccc;}