<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>

  <bean id="OCBrowserService" class="gov.nih.nci.ncicb.cadsr.ocbrowser.service.impl.OCBrowserServiceImpl">
    <property name="domainObjectsDaoFactory"><ref local="domainObjectsDaoFactory"/></property>
  </bean>
	
  <bean id="domainObjectsDaoFactory" class="gov.nih.nci.ncicb.cadsr.common.persistence.dao.domain.hibernate.DomainObjectsDAOFactory">
    <property name="adminComponentDAO"><ref bean="adminComponentDAO"/></property>
    <property name="dataElementDAO"><ref bean="dataElementDAO"/></property>
    <property name="dataElementConceptDAO"><ref bean="dataElementConceptDAO"/></property>
    <property name="valueDomainDAO"><ref bean="valueDomainDAO"/></property>
    <property name="propertyDAO"><ref bean="propertyDAO"/></property>
    <property name="objectClassDAO"><ref bean="objectClassDAO"/></property>
    <property name="objectClassRelationshipDAO"><ref bean="objectClassRelationshipDAO"/></property>
    <property name="classificationSchemeDAO"><ref bean="classificationSchemeDAO"/></property>
    <property name="classificationSchemeItemDAO"><ref bean="classificationSchemeItemDAO"/></property>
    <property name="classSchemeClassSchemeItemDAO"><ref bean="classSchemeClassSchemeItemDAO"/></property>
    <property name="conceptDAO"><ref bean="conceptDAO"/></property>
    <property name="contextDAO"><ref bean="contextDAO"/></property>
    <property name="conceptualDomainDAO"><ref bean="conceptualDomainDAO"/></property>    
  </bean>	

  
</beans>
