<?xml version = '1.0' encoding = 'windows-1252'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <description>web.xml file for CDE Browser</description>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>cdeBrowse.jsp</welcome-file>
  </welcome-file-list>
  <!-- authentication -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/LoginForm.jsp</form-login-page>
      <form-error-page>/authenticationError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <error-page>
    <error-code>403</error-code>
    <location>logout?FirstTimer=0&amp;authorizationError=yes</location>
  </error-page>
  <listener>
    <listener-class>oracle.clex.util.ServletEventListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>CDEBrowserServletController</servlet-name>
    <servlet-class>oracle.clex.process.controller.HttpServletController</servlet-class>
    <init-param>
      <param-name>cle-service-descriptor</param-name>
      <param-value>cdeBrowser.xml</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DownloadTemplateServlet</servlet-name>
    <servlet-class>gov.nih.nci.ncicb.cadsr.cdebrowser.servlets.DownloadTemplateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CRFBuilderServletController</servlet-name>
    <servlet-class>oracle.clex.process.controller.HttpServletController</servlet-class>
    <init-param>
      <param-name>cle-service-descriptor</param-name>
      <param-value>crfBuilder.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRFBuilderServletController</servlet-name>
    <url-pattern>/formbuild</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CDEBrowserServletController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadTemplateServlet</servlet-name>
    <url-pattern>/downloadtemplate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>gov.nih.nci.ncicb.cadsr.security.LogoutServlet</servlet-class>
    <init-param>
      <param-name>LogoutHome</param-name>
      <param-value>cdeBrowse.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config-copy.xml,
           /WEB-INF/struts-config-addQuestion.xml,/WEB-INF/struts-config-cancel.xml,
           /WEB-INF/struts-config-manageClassifications.xml,/WEB-INF/struts-config-module.xml,
           /WEB-INF/struts-config-formCreate.xml, /WEB-INF/struts-config-cdeSideBySide.xml,
           /WEB-INF/struts-config-manageReferenceDocs.xml,/WEB-INF/struts-config-downloadFormToExcel.xml,
           /WEB-INF/struts-config-browserSearchScreenType.xml,/WEB-INF/struts-config-publish.xml,
           /WEB-INF/struts-config-cde-search-preferences.xml
       </param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ServiceLocatorClassName</param-name>
      <param-value>gov.nih.nci.ncicb.cadsr.servicelocator.ejb.ServiceLocatorImpl</param-value>
    </init-param>
    
    <load-on-startup>1</load-on-startup>
  </servlet>
   <filter> 
       <filter-name>SessionFilter</filter-name>
       <filter-class>gov.nih.nci.ncicb.cadsr.cdebrowser.servlets.SessionFilter</filter-class>   
       <init-param>
      		<param-name>controllerName</param-name>
      		<param-value>search</param-value>
    	</init-param>  
       <init-param>
      		<param-name>expiredSessionJSP</param-name>
      		<param-value>expiredSession.jsp</param-value>
    	</init-param> 
    <init-param>
      <param-name>debugServiceLocatorClassName</param-name>
      <param-value>gov.nih.nci.ncicb.cadsr.servicelocator.ejb.ServiceLocatorImpl</param-value>
    </init-param>
    <init-param>
      <param-name>debugLoginManagerClassName</param-name>
      <param-value>gov.nih.nci.ncicb.cadsr.security.oc4j.DBUserManager</param-value>
    </init-param>  
    <init-param>
      <param-name>debugUsername</param-name>
      <param-value>jasur</param-value>
    </init-param>   
    <init-param>
      <param-name>debugPassword</param-name>
      <param-value>jasur</param-value>
    </init-param> 
    <init-param>
      <param-name>debugLogin</param-name>
      <param-value>N</param-value>
    </init-param>         	
   </filter>   
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter-mapping> 
         <filter-name>SessionFilter</filter-name>
         <url-pattern>/search*</url-pattern> 
 </filter-mapping> 
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
      <taglib-uri>cdebrowserTags</taglib-uri>
      <taglib-location>/WEB-INF/cdebrowser.tld</taglib-location>
   </taglib> 
   
  <resource-ref>      
	<res-ref-name>jdbc/FormBuilderDS</res-ref-name>     
	<res-type>javax.sql.DataSource</res-type>      
	<res-auth>Container</res-auth> 
  </resource-ref>  
  
  <ejb-ref>
    <ejb-ref-name>ejb/FormBuilder</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>gov.nih.nci.ncicb.cadsr.formbuilder.ejb.FormBuilderHome</home>
    <remote>gov.nih.nci.ncicb.cadsr.formbuilder.ejb.FormBuilder</remote>
    <ejb-link>FormBuilder</ejb-link>
  </ejb-ref>
  <env-entry>
    <description>Specifies the implementation class of FormBuilderServiceDelegate that should be used.</description>
    <env-entry-name>FormBuilderServiceDelegate</env-entry-name>
    <env-entry-value>gov.nih.nci.ncicb.cadsr.formbuilder.service.ejb.FormBuilderDynamicRemoteServiceDelegateImpl</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <description>Class name of the DAOFactory that FormBuilderEJB will use.</description>
    <env-entry-name>DAOFactoryClassName</env-entry-name>
    <env-entry-value>gov.nih.nci.ncicb.cadsr.persistence.dao.jdbc.JDBCDAOFactory</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <security-role>
    <description>The Only Secure Role</description>
    <role-name>CDE MANAGER</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Services</web-resource-name>
      <url-pattern>/formbuilder/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Secure Services</web-resource-name>
      <url-pattern>formCDECartAction.do</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Secure Services</web-resource-name>
      <url-pattern>formCDECartRedirectAction.do</url-pattern>
    </web-resource-collection>    
    <web-resource-collection>
      <web-resource-name>Secure Services</web-resource-name>
      <url-pattern>formSearchAction.do</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Secure Services</web-resource-name>
      <url-pattern>moduleSaveAction.do</url-pattern>
    </web-resource-collection>  
    <web-resource-collection>
      <web-resource-name>Secure Services</web-resource-name>
      <url-pattern>moduleToEditAction.do</url-pattern>
    </web-resource-collection>     
    <web-resource-collection>
      <web-resource-name>Secure Services</web-resource-name>
      <url-pattern>gotoChangeAssociation.do</url-pattern>
    </web-resource-collection> 
    <web-resource-collection>
      <web-resource-name>Secure Services</web-resource-name>
      <url-pattern>changeAssociation.do</url-pattern>
    </web-resource-collection>          
    <auth-constraint>
      <description>Authorized Users Group</description>
      <role-name>CDE MANAGER</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
